body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background color: #darkviolet;
	color: #008080;
}

header {
	background-color: #greenyellow;
	color: #008080;
	padding: 10px 20px;
	text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav a {
	color: blueviolet;
	text-decoration: none;
	margin: 0;
}

section {
	margin: 20px;
	padding: 20 px;
	background-color: forestgreen;
	border-radius: 8px;
}